version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: "homeassistant/home-assistant:rc"
    volumes:
      - ./home-assistant:/config
      - ./custom_components/bolted:/config/custom_components/bolted
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    ports:
      - 8123:8123
